@font-face {
  font-family: "AkzidenzGrotesk";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/AGNextLight.otf");
}

@font-face {
  font-family: "AkzidenzGrotesk";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/AGNextLightIta.otf");
}

@font-face {
  font-family: "AkzidenzGrotesk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AGNextRegular.otf");
}